[Desktop Entry]
Encoding=UTF-8
Name=TrollCoin
Comment=TrollCoin P2P Cryptocurrency
Comment[fr]=TrollCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TrollCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/TrollCoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/TrollCoin128.png
MimeType=x-scheme-handler/TrollCoin;
Categories=Office;
